extends layoutVerProductos 
block datosProductos
    div(class="container text-center")
        h1 Productos
        if productos.length != 0
            table
                tr(class="container text-center")
                    th(class="col4") Title 
                    th(class="col4") Price
                    th(class="col4") Thumbnail

                each producto in productos
                    tr(class="container text-center")
                        td(class="col-4") #{producto.title}
                        td(class="col-4") $#{producto.price}
                        td(class="col-4") 
                            img(src=producto.thumbnail style="max-width: 30%")
        else
            p(class="fs-4") No hay productos
        a(href="/") 
            button(class="btn btn-info") Cargar productos